body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
        /*background-color: rgba(150,185,235,0.9);*/
        background-color: rgba(51,84,145,0.9);
}

#open-btn { 

}

.hands-nav-btn {
    
}

div.turn-btn-group {
    margin-top: 20px;
}

div.fileinput {
	position: relative;
}

.less-marginated {
	font-style: normal;
	margin-top: -10px;
	margin-bottom: -10ox;
}
.less-marginated-top {
    font-style: normal;
    margin-top: -20px;
}

input#fileinput {
	/*position: relative;
	width: auto;
 	-moz-opacity:0 ; 
 	filter:alpha(opacity: 0); 
 	opacity: 0; 
 	z-index: 2; */
    visibility: hidden;
}



#outer {
    width: 840px;
    height: 375px;
    margin: 0 auto;    
    color: white;
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
