<head>
  <title>Cards Genie IDS-317</title>
</head>

<body>
	<div id="outer" class="container-fluid">
	{{>errorBox}}

		<div class="row-fluid">
			  <div class="span3 btn-group" align="left">
					  <!-- <buttton id="new-btn" class="btn btn-primary file-handler-btn" type="button" disabled="true">New</buttton> -->
					  <buttton id="open-btn" class="btn btn-danger file-handler-btn" type="button">Open</buttton>
					  <!-- <buttton id="save-btn" class="btn btn-primary file-handler-btn" type="button" disabled="true">Save</buttton> -->
			  </div>

			  <div class="span6">
					<div class="text-center lead row">
					 	{{> turn}}
					</div>
					  	
					 <div class="text-center row">
						 {{> handPoints}}
					</div>
			 </div>
			  
			<div class="span3" align="right">
				<div class="span">
					<div>
					 	<div class="btn-group">
					 		<label class="btn btn-small btn-inverse" disabled>Sort</label>
					 		<button id='no-sort' class="btn btn-small btn-primary">none</button>
					 		<button id='value-sort' class="btn btn-small btn-primary">by Value</button>
					 		<button id='suit-sort' class="btn btn-small btn-primary">by Suit</button>
					 		<button id='both-sort' class="btn btn-small btn-primary">by Both</button>
					 	</div>
					 	<!-- <br/>
					 	<div class="turn-btn-group btn-group">
						 	<button id="new-turn-btn" class="btn btn-primary">+Turn</button>
						 	<button id="del-turn-btn" class="btn btn-primary">-Turn</button>
					 	</div> -->
				 	</div>
				</div>
			</div>
		</div>

		<div id='hands-nav-container' class="row-fluid content-container">
			<button id="previous-btn" class="span2 btn hands-nav-btn">Previous<br/>(or left arrow on keyboard)</button>
			<div id="cards-container" class="span8 row-fluid" align="center">
				{{> hand}}
			</div>
			<button id="next-btn" class="span2 btn hands-nav-btn">Next<br/>(or right arrow on keyboard)</button>
		</div>
		<br/>
		<div class="text-right">
			{{>badLinesCounter}}
		</div>

	</div>


	<div>
		<input type="file" id="fileinput" class="file btn-success btn" accept="/text.plain/" />
	</div>
</body>


		<template name="handPoints">
			<h3 class="less-marginated">Points: {{ptsAcc}}</h3>
			<h5 class="less-marginated-top">Final Score: {{finalScore}}</h5>
			<h5 class="less-marginated">{{handName}} {{handPts}}</h5>
		</template>

		<template name="card">
			<!-- <span class="span3 cardvalue">{{value}}{{suit}}</span> -->
			<img class="span3" src={{img}} width="100">
		</template>
		  
		  
		<template name="hand"> 
			{{#if handIsNotEmpty}}
			  <div class="hand">
			    {{#each cards}}
			      {{> card}}
			    {{/each}}
			  </div>
			{{/if}}
		</template>

		<template name="errorBox">
		{{#if errorFound}}
		<div class="alert alert-error">
		  	<!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
		  	<h2 class="less-marginated">Error</h2>
		  	{{#each errorType}}
			  		{{> error}}
		  	{{/each}}
	  	</div>
	  	{{/if}}
		</template>

		<template name="error">
		{{#if errorFound}}
			<div>
				<span class="error-type"><b>{{message_head}}</b></span>
				<span class="error-desc">: {{message_description}}</span>
			</div>
		{{/if}}
		</template>

		<template name="turn">
			Turn: {{current}} / {{last}}
			<br/>
			<input id='turn-slider' type="range" min="1" max={{last}} step=1/>
		</template>

		<template name="badLinesCounter">
			Invalid lines found in current file: <strong>{{invalidLines}}</strong>
		</template>